/* #region All */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
  margin: 0;
  border: none;
}

a {
  font-style: normal;
  text-decoration: none;
}

ul {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
}

.all-titles {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
}

.all-subtitle {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
}

.all-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.container {
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}
/* #endregion All */
/* #region Header */

.header {
}

.header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu {
  display: flex;
  gap: 76px;
}

.logo-header {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.menu-list {
  display: flex;
  gap: 40px;
}

.menu-item {
}
.menu-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-link:hover {
  color: #404bbf;
}

.menu-link:focus {
  color: #404bbf;
}

.menu-link:active {
  color: #404bbf;
  text-decoration-line: underline;
}
.address {
  font-style: normal;
  display: flex;
}

.address-list {
  display: flex;
  gap: 40px;
}

.address-item {
}

.address-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.address-link:hover {
  color: #404bbf;
}

.address-link:focus {
  color: #404bbf;
}
/* #endregion Header */

/* #region main */
.main {
}

/* #region section 'hero' */
.hero {
  background: #2e2f42;
  height: 600px;
}

.hero .container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 180px auto 48px;
  max-width: 496px;
}
.hero-btn {
  display: flex;

  font-family: "Roboto", sans-serif;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  max-width: 169px;
  height: 56px;
  justify-content: center;
  align-items: center;
}

.hero-btn:hover {
  background: #404bbf;
}

.hero-btn:focus {
  background: #404bbf;
}
/* #endregion section 'hero' */

/*===section 'About'===*/
.about {
}
.about-title {
}
.about-list {
}
.about-item {
}
.about-subtitle {
}
.about-text {
}

/*===section Our Team===*/
.team {
  background: #f4f4fd;
}

.team-title {
}

.team-list {
}

.team-item {
  background: #fff;
}

.team-img {
}

.team-subtitle {
  text-align: center;
}

.team-text {
  text-align: center;
}

/*===section Portfolio===*/
.portfolio {
}

.portfolio-title {
}

.portfolio-list {
}

.portfolio-item {
}

.portfolio-img {
}

.portfolio-subtitle {
}

.portfolio-text {
}

/* #endregion main */

/*===footer===*/
.footer {
  background: #2e2f42;
}

.logo-footer {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.footer-text {
  color: #f4f4fd;
}
